<!DOCTYPE html>
<html>
<head>
	<title>CK116</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/signupsend.js"></script>
	{% block head %}
	{% endblock %}
</head>
<body>
	{% block signup %}
	{% endblock %}

<!-- jQuery -->
  <script src="/static/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/static/js/classpage.js"></script>

</body>
</html>