<!DOCTYPE html>
<html>
<head>
	<title>CK116</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/scrolling-nav.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
	{% block head %}
	{% endblock %}
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	{% block signup %}
	{% endblock %}

<!-- jQuery -->
  <script src="/static/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->

  <script src="/static/js/jquery.easing.min.js"></script>
   
  <script src="/static/js/scrolling-nav.js"></script>

  <script type="text/javascript" src="/static/js/classpage.js"></script>
  <script type="text/javascript" src="/static/js/signupsend.js"></script>
  <script type="text/javascript" src="/static/js/loginsend.js"></script>
</body>
</html>